{
    "light position": [600.0, 600.0, 300.0],
    "time step range": [1403, 1420],
    "file format": "hdf5",
    "read root": "/home/chrisyeshi/work/data/supernova/supernova300.h5",
    "out root": "/home/chrisyeshi/work/flowsimulate/output",
    "camera": {
        "position": [300.0, 1300.0, 300.0],
        "focal": [300.0, 300.0, 300.0],
        "up": [1.0, 0.0, 0.0]
    },
    "total size": [300, 300, 300],
    "region count": [2, 2, 2],
    "region particle count": 5,
    "velocity": 4.0,
    "resolution": [512, 512],
    "tube radius": 1.0,
    "max particle gap": 5.0,
    "input attributes": [
        "xvelocity",
        "yvelocity",
        "zvelocity",
        "entropy",
        "density",
        "pressure"
    ],
    "output attributes": [
        "x",
        "y",
        "z",
        "entropy",
        "density",
        "pressure"
    ]
}
