light position
600.0 600.0 300.0

time step range
1403 1420

read root
/home/chrisyeshi/v/supernova_down/cube300

out root
/home/chrisyeshi/flowsimulate/output

camera
300.0 1300.0 300.0
300.0 300.0 300.0
1.0 0.0 0.0

total size
300 300 300

region count
2 2 2

region particle count
10

velocity
4.0

resolution
512 512

tube radius
1.0

max particle gap
5.0
