{
  "camera": {
    "position": [300.0, 1300.0, 300.0],
    "focal": [300.0, 300.0, 300.0],
    "up": [1.0, 0.0, 0.0]
  },
  "light": {
    "position": [600.0, 600.0, 300.0]
  },
  "output": {
    "resolution": [512, 512],
    "file": "supernova"
  },
  "tube": {
    "count": 15,
    "radius": 0.5,
    "velocity": 4.0,
    "gap": 10.0
  },
  "domain": {
    "count": [2, 2, 2],
    "volume": [300, 300, 300]
  },
  "input": {
    "file": "/home/chrisyeshi/work/data/supernova/supernova300.h5",
    "format": "hdf5",
    "attributes": [
      "xvelocity",
      "yvelocity",
      "zvelocity",
      "entropy",
      "density",
      "pressure"
    ],
    "time": [1407, 1450]
  }
}