#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .modal-body {
    padding: 5px;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -26px;
    
    z-index:1032;
}